.item {
  position: relative;
  height: 420px;
  background-size: cover;
  background-position: center;
  p {
    width: 99vw;
    position: absolute;
    bottom: 0px;
    line-height: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 1vw;
  }
}
@include tablet {
    .sectionContent{
        display: flex;
        flex-flow: row wrap;
    }
  .item {
      width: 50vw;
      p{
          width: 48vw;
      }
  }
}
@include desktop {
    .item {
        width: 25vw;
        p{
            width: 23vw;
        }
    }
}
