.item {
  position: relative;
  height: 420px;
  background-size: cover;
  background-position: center;
  p {
    color: white;
    width: 96%;
    position: absolute;
    bottom: 0px;
    line-height: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 2%;
  }
}
@include tablet {
    .sectionContent{
        display: flex;
        flex-flow: row wrap;
    }
  .item {
      width: 50%;
  }
}
@include desktop {
    .item {
        width: 25%;
    }
}
