footer {
  display: flex;
  height: 70px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
    margin-bottom: 20px;
  p {
    display: inline;
  }
}
@include tablet {
   
}
@include desktop {
    footer{
     justify-content: flex-start;
     margin-left: 30px;   
    }
}
