header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  .label-select {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition: margin 1s ease-in-out 1s;
  }
  img {
    transition: margin 1s ease-in-out 1s;
  }
  p {
    display: inline;
    font-size: 13px;
    margin: 18px auto;
  }
  select {
    width: 120px;
    margin: 0px auto;
    font-size: 18px;
    border: none;
    &:focus {
      border: none;
    }
  }
}

//will be added to header when click
.sectionHeader {
  height: 300px;
  img {
    width: 150px;
    transition: margin 1s ease-in-out 1s;
  }
  //transition: all 1s ease-in-out 1s;
}
@include tablet {
  header {
    flex-flow: row nowrap;
    justify-content: center;
    img {
      width: 22vw;
      margin-right: 20px;
    }
    .label-select {
      width: 30vw;
      margin-top: 20px;
    }
    p {
      margin: 18px 0px;
    }
    select {
      margin: 0px;
    }
  }
  .sectionHeader {
    height: 135px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 70px;
      margin: auto 90px;
    }
    p {
      margin-top: 0px;
    }
  }
}
@include desktop {
  header {
    justify-content: flex-start;
    p {
      font-size: 16px;
    }
    img {
      width: 210px;
      margin-left: 50px;
      margin-right: 70px;
    }
  }
  .sectionHeader {
    img {
      margin: auto 30px;
    }
    .label-select {
      margin: auto 50px;
    }
  }
}
