.sectionHeader {
  height: 300px;
  img {
    width: 150px;
    transition: margin 1s ease-in-out 1s;
  }
  //transition: all 1s ease-in-out 1s;
}
@include tablet {
  .sectionHeader {
    height: 135px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 70px;
      margin: auto 90px;
      margin-right: 110px;
    }
    p {
      margin-top: 0px;
    }
  }
}

@include desktop {
  .sectionHeader {
    img {
      margin: auto 30px;
    }
    .label-select {
      margin: auto 50px;
    }
  }
}
